nonebot2>=2.1.0
nonebot-adapter-onebot>=2.3.0
nonebot-plugin-apscheduler
nonebot-plugin-uninfo
fastapi>=0.100.0
uvicorn>=0.23.0
httpx>=0.24.1
websockets>=11.0.3
openai>=1.0.0
python-dotenv>=0.21.0
pyyaml>=6.0.1
pandas>=2.0.3
openpyxl>=3.1.2
# WebUI 依赖
python-jose>=3.3.0
passlib>=1.7.4
bcrypt>=4.0.1
python-multipart>=0.0.5
PyJWT>=2.0.0
tortoise-orm>=0.17.0